@import "../components/mixins";

@mixin breadcrumb($bg) {
	background: $bg;
	@include query($q520) {
		display: none;
	}
	li {
		display: inline-block;
		padding: 15px 0px;
		margin-left: 15px;
		text-transform: uppercase;
		color: #333;
		&:before {
			content: "\f105";
			font-family: fontAwesome;
			margin-right: 15px;
		}
		&:first-child {
			&:before {
				display: none;
			}
			padding-left: 0px;
			margin-left: 0px;
		}
		a {
			color: #000;
			&:hover {
				text-decoration: underline;
				opacity: 0.8;
			}
		}
	}
}
