.linklist-default {
  ul {
    li {
      margin-bottom: 10px;
      a {
        font-size: 14px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  &.linklist-arrow {
    position: relative;
    li {
      padding-left: 15px;
    }
    &.linklist-arrow-type1 {
      li {
        position: relative;
        &:before {
          content:"\f105";
          font-family: fontAwesome;
          font-size: 15px;
          height: 14px;
          @include centerver();
          top: 0;
          left: 0;
        }
      }
    }
    &.linklist-arrow-type2 {
      li {
        position: relative;
        padding-left:25px;
        &:before {
          content:"\f105";
          font-family: fontAwesome;
          font-size: 15px;
          height: 14px;
          @include centerver();
          top: 0;
          left: 0;
          color: #fff;
          background: $primary;
          height: 20px;
          width: 20px;
          display: block;
          @include flexbox(center, center);
          left: 0px;
          border-radius: 100%;
        }
      }
    }
  }
}