.column_service-icon {
  .col-3 {
    text-align: center;
    .column3_icon_title {
      text-transform: uppercase;
      margin-top: 2rem;
    }
    .column3_icon_desp {
      font-size: 14px;
      line-height: 1.8;
    }
  }
}